/* Set variables color */
/*Main Settings*/
:root{
    --primary-color: #4f4aa6;
    --secondary-color: #48ca95;
    --bg-color: #f7f7f7;
    --light-color:#fff;

    --header-title-font: Poppins-Bold;
    --text-font: Poppins;
    --menu-font: Poppins-Bold;
    
}

/* To reset all styles on the page */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

/*To import te fonts*/
@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-bold;
    src: url('assets/fonts/Montserrat-Bold.woff');
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url('assets/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('assets/fonts2/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('assets/fonts2/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-ExtraBold;
    src: url('assets/fonts2/Poppins-ExtraBold.ttf');
}
/*Header*/
header{
    background-image: url('assets/images/banner.jpg');
    background-size: cover;/* para que ocupe todo el espacion y no lo repita*/
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 90vh;  /*vh--90 porciento de el tamaño del navegador en su altura*/
}
nav{
    display: flex;
    justify-content: space-between; /*horizontal distribution*/
    align-items: center; /*horizontal align*/
    padding: 20PX 30px;
}

nav ul{
    display: flex;
    list-style-type: none;   
}

nav ul li{
    padding: 10px;
}
nav ul li a{
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--menu-font);
}
nav ul li a:hover{
    color: var(--secondary-color);
    
}

.selected{
    color: var(--secondary-color);
}

.header-content{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 50px;
}
.header-content-text{
    max-width: 500px;
    color: var(--light-color);
}
.header-img{
    margin: 5px 25px;    
}
 /*Wrapper(Envoltura)*/

.header-content-btns{
    margin-top: 40px;
}
.header-title{
    font-size: 80px;
    font-family: var(--header-title-font);
}
.header-subtitle{
    font-size: 40px;    
}

.btn{
    color: var(--light-color);
    padding: 15px 50px;
    border: 2px solid var(--light-color);
    text-decoration: none;
    margin: 0px 5px;
}

.btn:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.menu-mobile{
    display: none;
}

@media(max-width: 800px){
    .menu-mobile{
        display: flex;        
    }
    .menu-screen{
        display:none;
    }
}

@media(max-width:1300px){
    .header-content{
        flex-direction:column;
    }
    .header-content-text{
        margin-left: 20px;
    }    
    .header-title{
        font-size: 40px;        
    }
    .header-subtitle{
        font-size: 20px;    
    }
    .header-content-text p{
        font-size: 14px;
    }
    .btn{
        padding: 10px 30px;
    }
    .header-img{
        margin: 50px 10px;
        width: 95%;
        height: 100%;
        max-width: 500px;
    }
    
}

/*End Header*/