/* Set variables color */
/*Main Settings*/
:root{
    --primary-color: #4f4aa6;
    --secondary-color: #48ca95;
    --bg-color: #f7f7f7;
    --light-color:#fff;
    --dark-color: #000;

    --header-title-font: Poppins-Bold;
    --section-title-font: Poppins-SemiBold;
    --text-font: Poppins;
    --menu-font: Poppins-Bold;
    --banner-subtitle-font: Poppins-Light;
    --banner-title-font: Poppins;
    
}

/* To reset all styles on the page */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

/*To import te fonts*/
@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-bold;
    src: url('assets/fonts/Montserrat-Bold.woff');
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url('assets/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('assets/fonts2/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('assets/fonts2/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-ExtraBold;
    src: url('assets/fonts2/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: Poppins-Black;
    src: url('assets/fonts2/Poppins-Black.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('assets/fonts2/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('assets/fonts2/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('assets/fonts2/Poppins-Light.ttf');
}

/*Header*/
header{
    background-image: url('assets/images/banner.jpg');
    background-size: cover;/* para que ocupe todo el espacion y no lo repita*/
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 90vh;  /*vh--90 porciento de el tamaño del navegador en su altura*/
}
nav{
    display: flex;
    justify-content: space-between; /*horizontal distribution*/
    align-items: center; /*horizontal align*/
    padding: 20PX 30px;
}

nav ul{
    display: flex;
    list-style-type: none;   
}

nav ul li{
    padding: 10px;
}
nav ul li a{
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--menu-font);
}
nav ul li a:hover{
    color: var(--secondary-color);
    
}

.selected{
    color: var(--secondary-color);
}

.header-content{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 50px;
}
.header-content-text{
    max-width: 500px;
    color: var(--light-color);
}
.header-img{
    margin: 5px 25px;    
}
 /*Wrapper(Envoltura)*/

.header-content-btns{
    margin-top: 40px;
}
.header-title{
    font-size: 80px;
    font-family: var(--header-title-font);
}
.header-subtitle{
    font-size: 40px;    
}

.btn{
    color: var(--light-color);
    padding: 15px 50px;
    border: 2px solid var(--light-color);
    text-decoration: none;
    margin: 0px 5px;
}

.btn:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.menu-mobile{
    display: none;
}

@media(max-width: 800px){
    .menu-mobile{
        display: flex;        
    }
    .menu-screen{
        display:none;
    }
}

@media(max-width:1300px){
    .header-content{
        flex-direction:column;
    }
    .header-content-text{
        margin-left: 20px;
    }    
    .header-title{
        font-size: 40px;        
    }
    .header-subtitle{
        font-size: 20px;    
    }
    .header-content-text p{
        font-size: 14px;
    }
    .btn{
        padding: 10px 30px;
    }
    .header-img{
        margin: 50px 10px;
        width: 95%;
        height: 100%;
        max-width: 500px;
    }
    
}

/*End Header*/

/*Cards Section*/
/*100vw 100virtual width*/
.cards{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
    flex-wrap:wrap; /*wrap(envolvente) antes se encogían las card con el wrap cuando se disminuye el tamaño las card se adaptan se ponen una debajo de otra*/
}
.card{
    margin: 5px;
    padding: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    max-width: 350px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
      
}
.card h5{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.card p{
    text-align: center;
}
/*End Card Section*/

/*Produts Section*/
.products{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center; /*cuando flex-direction es column lo que va a centrar es con */
    align-items:center;
    padding-top: 50px;
}

.section-title{
    text-transform: uppercase;
    font-size: 24px;
    font-family: var(--section-title-font);
    /* text-decoration: underline;
    text-decoration-color: var(--secondary-color);    
    line-height: 50px; */
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 25px;  
}

.products-container{
    background-color: var(--light-color);    
    width: 1100px;
    display: flex;
    flex-wrap: wrap; /* pone una tarjeta debajo de la otra pero si hay debordamiento la baja hacia abajo creando otra fila */
    justify-content:space-around;
    align-content: center;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

.product-card{
    width: 203;
    border: solid thin;
    display:flex;
    flex-direction:column;
    margin: 50px;
}

.product-card a{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    width:100%;
    text-decoration: none;
    text-align: center;    
}
.btn-secondary{
    color: var(--secondary-color);
    padding: 15px 50px;
    border: 2px solid var(--secondary-color);
    text-decoration: none;
    margin: 0px 5px;
}

@media(max-width:1100px){    
    .products-container{
        width: 96%;
    }
}
/*End Produts Section*/

/*Banner Section*/
.banner{
    background-color: var(--primary-color);
    display:flex;
    justify-content: center;
    align-items: center; /*vertical align*/
    padding: 70px;
}

.banner-content{
    display: flex;
    justify-content: center;     
}
.banner-content-text{
    max-width: 500px;
    color: var(--light-color);
}
.banner-title{
    font-family: var(--banner-title-font);
    font-size: 48px;        
}
.banner-subtitle{
    font-size: 20px;  
    font-family: var(--banner-subtitle-font);
}
.btn-primary-full{
    color: var(--light-color);
    padding: 15px 50px;
    border: 2px solid var(--secondary-color);
    text-decoration: none;
    margin: 0px 5px;
    background-color: var(--secondary-color);
}
.btn-primary-full:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    
}
@media(max-width:900px){
    .banner-content{
        flex-direction:column;        
    }
}
/*End Banner Section*/

/*Review Section*/
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.review-card{
    width: 800px;   
}
.review-card h5{
    font-size: 28px;
    margin-bottom: 20px;
}

@media(max-width:800px){
    .review-card{
    width: 95%;   
}
}
/*End Review Section*/