:root{
    --primary-color: #cdcdcd;
    --secondary-color: #4e4e4e;
    --light--color: white;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh; 
    background-color: var(--primary-color);
}

.card{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
    width: 400px;
    height: 600px;
    background-color: var(--light--color);
}

.card h3{
    text-transform: uppercase;
    color: var(--secondary-color);    
}
.card p{
    color: var(--secondary-color);
}
